%h3
  Recurring orders processed for #{@date.strftime('%B %d, %Y')}
%h3
  Failed Orders
%table{width: '100%', align: 'center', style: 'border-collapse: collapse;'}
  %thead
    %tr
      %th{style: 'border-bottom: 1px solid black;font-size:12px;'}Order Number
      %th{style: 'border-bottom: 1px solid black;font-size:12px;'}Email
      %th{style: 'border-bottom: 1px solid black;font-size:12px;'}Reason
  %tbody
    - @results.select{|result| result.success == false}.each do |result|
      %tr
        %td{width: '15%', style: 'text-align:center;font-size:12px;'}= result.recurring_order_number
        %td{width: '25%', style: 'text-align:center;font-size:12px;'}= result.email
        %td{width: '60%', style: 'text-align:center;font-size:12px;'}= result.message
%p
%h3
  Processed Orders
%table{width: '100%', align: 'center', style: 'border-collapse: collapse;'}
  %thead
    %tr
      %th{style: 'border-bottom: 1px solid black;font-size:12px;'}Order Number
      %th{style: 'border-bottom: 1px solid black;font-size:12px;'}Email
      %th{style: 'border-bottom: 1px solid black;font-size:12px;'}Reason
  %tbody
    - @results.select{|result| result.success == false}.each do |result|
      %tr
        %td{width: '15%', style: 'text-align:center;font-size:12px;'}= result.recurring_order_number
        %td{width: '25%', style: 'text-align:center;font-size:12px;'}= result.email
        %td{width: '60%', style: 'text-align:center;font-size:12px;'}= result.message
