.row
  .columns.sixteen
    %h1
      You can now repeat your orders!
    %p
      Make local shopping a regular thing.
      = "Choose which items you'd like us to deliver every week. You have #{@order.ship_address.firstname}"
.row
  .columns.sixteen.alpha.omega
    = form_for(@recurring_list) do |f|
      = f.hidden_field :user_id
      %table.fullwidth
        %thead
          %tr
            %th
            %th= Spree.t(:name)
            %th= Spree.t(:price)
            %th= Spree.t(:quantity)
            %th= Spree.t(:make_it_regular)
        %tbody
          - @order.line_items.map{|line_item| Spree::RecurringListItem.from_line_item(line_item)}.each do |item|
            %tr
              %td.centered
                = link_to mini_image(item.variant.product), item.variant.product
              %td.centered= item.variant.name
              %td.centered= display_price(item.variant.product)
              = f.fields_for :items, item do |item_fields|
                %td.centered
                  = item_fields.hidden_field :variant_id
                  = item_fields.number_field :quantity
                %td.centered
                  = item_fields.check_box :selected

      = submit_tag "Next"
