<fieldset id='recurring_orders'>

  <h1>
    <%= "Thanks #{@order.ship_address.firstname}, we've received your order!" %>
  </h1>
  <h3>
    <%= "We will see you on #{@order.delivery_date.strftime('%A')} from #{@order.delivery_time}." %>
  </h3>
  <h1>
    Want to make this process even easier next time?
  </h2>
  <h3>
    Our grocery experts can help you setup a regular order for the things you always need. 
    We'll give you a call to get the first order setup perfectly.
  </h3>

  <%= form_for @recurring_order do |f| %>
    <%= f.hidden_field :original_order_id, value: @order.id %>
    <%= f.submit "Give me a call" %>
  <% end %>

</fieldset>
