<% content_for :page_actions do %>
  <% if @recurring_order.active? %>
    <li><%= button_link_to("Pause", admin_recurring_order_url(number: @recurring_order.number, active: false), {:method => :put, :icon => 'pause'}) %></li>
  <% else %>
    <li><%= button_link_to("Activate", admin_recurring_order_url(number: @recurring_order.number, active: true), {:method => :put, :icon => 'play'}) %></li>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%= "Recurring Order #{@recurring_order.number}" %>
<% end %>

<% content_for :sidebar_title do %>
  <%= Spree.t(:recurring_information) %>
<% end %>

<% content_for :sidebar do %>
  <header id="order_tab_summary" data-hook>
    <dl class="additional-info">
      <dt id="order_email" data-hook><%= Spree.t(:email) %>:</dt>
      <dd><%= @recurring_order.email %></dd>
      <dt id="order_phone" data-hook><%= Spree.t(:phone) %>:</dt>
      <dd><%= @recurring_order.phone %></dd>
      <dt id="order_original_order" data-hook><%= Spree.t(:original) %>:</dt>
      <dd><%= @recurring_order.original_order.number rescue 'N/A'%></dd>
      <dt id="order_created_at" data-hook><%= Spree.t(:created_date) %>:</dt>
      <dd><%= l (@recurring_order.created_at).to_date %></dd>
    </dl>
  </header>

<% end %>

<% if @recurring_order.base_list %>
  <% content_for :sidebar do %>
    <header id="order_tab_summary-additional-info" data-hook>
      <dl class="additional-info">
        <dt id="order_next_delivery_date" data-hook><%= Spree.t(:next) %>:</dt>
        <dd><%= l (@recurring_order.base_list.next_delivery_date).to_date %></dd>
        <dt id="order_deliery_timeslot" data-hook><%= Spree.t(:timeslot) %>:</dt>
        <dd><%= @recurring_order.base_list.timeslot %></dd>
      </dl>
    </header>
  <% end %>
<% end %>

<% if @recurring_order.base_list %>
  <fieldset class="no-border-bottom">
    <%= render partial: "add_item_form" %>
  </fieldset>
  <fieldset class='no-border-bottom'>
    <legend>Recurring List</legend>
    <table>
      <thead>
        <th><%= Spree.t('quantity')%></th> 
        <th><%= Spree.t('name')%></th>
        <th><%= Spree.t('sku')%></th>
        <th><%= Spree.t('delete')%></th>
      </thead>
      <tbody class="with-border">
        <% @recurring_order.base_list.items.each do |item| %>
          <tr>
            <td class="align-center"><span><%= item.quantity %></span></td>
            <td class="align-center"><span><%= item.variant.name %></span></td>
            <td class="align-center"><span><%= item.variant.sku %></span></td>
            <td class="align-center actions"><span><%= link_to_delete item, url: admin_recurring_list_item_url(@recurring_order.base_list,item.id), no_text: true %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_tag(admin_recurring_order_recurring_list_orders_path(@recurring_order), method: :post) do -%>
      <%= submit_tag "Create Order" -%>
      <label for="cb_auto_complete_order">and complete </label>
      <%= check_box_tag "complete_after_create", @recurring_order.complete_after_create ? "0" : "1", @recurring_order.complete_after_create  -%>
    <% end %>
  </fieldset>
<% end %>

<fieldset class='no-border-bottom'>
  <legend>Orders</legend>
  <table>
    <thead>
      <th><%= Spree.t('number')%></th> 
      <th><%= Spree.t('created_date')%></th>
      <th><%= Spree.t('delivery_date')%></th>
      <th><%= Spree.t('state')%></th>
    </thead>
    <tbody class="with-border">
      <% @recurring_order.orders.each do |order| %>
        <tr>
          <td class="align-center"><strong><%= link_to order.number, edit_admin_order_path(order) %></strong></td>
          <td class="align-center"><span><%= l (order.created_at).to_date %></span></td>
          <td class="align-center"><span><%= l (order.delivery_date).to_date %></span></td>
          <td class="align-center"><div class="state <%= order.state.downcase %>"><%= Spree.t("order_state.#{order.state.downcase}") %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
