#recurring-order-form
  = form_for(@recurring_list) do |f|
    .row
      .columns.sixteen.alpha.omega
        = f.hidden_field :user_id
        = f.hidden_field :timeslot
        = f.hidden_field :next_delivery_date
        %table.fullwidth
          %colgroup
            %col{style: "width: 25%;"}
            %col{style: "width: 45%;"}
            %col{style: "width: 15%;"}
            %col{style: "width: 15%;"}
          %thead
            %tr
              %th
              %th= Spree.t(:name)
              %th= Spree.t(:quantity)
              - if @recurring_list.persisted?
                %th
              - if show_selected_field
                %th= Spree.t(:make_it_regular) 
          %tbody
            - if @recurring_list.items.empty?
              %tr
                %td{colspan: 4}
                  You have no items in your regular list
            - else
              - @recurring_list.items.each do |item|
                %tr
                  %td.centered
                    = link_to mini_image(item.variant.product), item.variant.product
                  %td.centered= item.variant.name
                  = f.fields_for :items, item do |item_fields|
                    %td.centered
                      = item_fields.hidden_field :variant_id
                      = item_fields.number_field :quantity, class: 'quantity'
                    - if show_selected_field
                      %td.centered
                        = item_fields.check_box :selected
                    - else
                      = item_fields.hidden_field :selected, value: '1' 
                    - if @recurring_list.persisted?
                      %td.centered
                        = link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{@recurring_list.id}_#{item.id}"
    .row
      .columns.offset-by-fourteen.two.alpha.omega
        = submit_tag submit_label.titleize 
